.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}
.header-container {
  display: flex;
  justify-content: space-between;
  background-color: #3367d6;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-bottom: 30px;
}
.search-container {
  display: flex;
  margin-right: 30%;
}
.history {
  width: 80px;
  height: 20px;
  align-self: center;
}
.search-icon-bg {
  padding: 4px;
  background-color: #2850a7;
  padding-left: 10px;
  padding-right: 10px;
}
.search-icon {
  width: 15px;
}
.search-input-bg {
  padding: 4px;
  background-color: #2850a7;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 2px;
  padding-right: 120px;
}
.search-input {
  background-color: #2850a7;
  font-size: 15px;
  border: none;
  outline: none;
  padding-bottom: 6px;
  color: #ffffff;
}
.suggestions-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: flex-start;
 
}
.empty-view {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 32px;
  font-family: roboto;
  color: #475569;
}

::-webkit-input-placeholder{
  color: #ffffff;
}